{% extends 'base.html' %}
{% block title%} search {% endblock%}
{% block content %}
 
 <section id="">
              
         {% if product %}    
  
  <div class="d-flex flex-row flex-wrap px-4">
    {% for item in product %}
     
      <div class="card" style="width: 18rem;">
        <a href="{% url 'product' item.id %}" class="custom-card">
          <img class="card-img-top" src="/media/{{item.image}}" style="height: 300px;" loading="lazy">
        </a>
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div>
              <span class="" id="namepr{{item.id}}">{{item.name}}</span></br>
              &#8377;<span  id="pricepr{{item.id}}">{{item.price}}</span>
            </div>
            <div>
              <span id="divpr{{item.id}}" class="divpr">
                <a  id="pr{{item.id}}" class="btn btn-warning btn-sm cart">ADD TO CART</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    
    
       
    {% endfor %}
    {% else %}
    <h3 class="text-center text-danger">Sorry,no result found!</h3>
    <p class="text-center text-muted"> Please check the spelling   </p>
    {% endif %}
  </div>
  
 
</section>
{% endblock content %}